.login {
  text-align: center;
  padding-top: calc(15vh + env(safe-area-inset-top));
}
.login h1 {
  margin: 0 0 24px;
}

.logo {
  font-size: 64px;
}

.form {
  display: grid;
  gap: 12px;
  padding: 16px;
  justify-items: center;
}
.form input {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 12px;
}
